{% extends 'ex01/base.html' %}

{% block title %}Ex01: Django, framework web.{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<h3>Django is a high-level Python web framework designed to enable rapid development of secure and maintainable websites. It was created in 2003 by Adrian Holovaty and Simon Willison while they were working on a newspaper website, and it was released publicly as an open-source project in 2005.</h3>

<h3>Django's key philosophy is to "make it easier to build web applications," emphasizing a clean, pragmatic design, following the "don't repeat yourself" (DRY) principle. It comes with many built-in features, such as an ORM (Object-Relational Mapping) for database management, an admin panel, and authentication, allowing developers to focus on building features rather than reinventing the wheel.</h3>
    
<h3>Over the years, Django has grown in popularity for building complex, database-driven websites, powering many high-traffic platforms like Instagram, Pinterest, and Mozilla.</h3>
{% endblock %}