<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex00: Markdown Cheatsheet</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h1>Ex00: Markdown Cheatsheet</h1>
    <h2>Markdown Syntax</h2>
    <p>Essential Syntax for writing and formatting text, commonly used for formatting readme files or writing in online forums.</p>
    <ol>
        <li><h3>Headings</h3></li>
        <ul>
            <li># Heading 1</li>
            <li>## Heading 2</li>
            <li>### Heading 3</li>
            <li>#### Heading 4</li>
            <li>##### Heading 5</li>
            <li>###### Heading 6</li>
        </ul>
        <li><h3>Bold and Italic Text</h3></li>
        <ul>
            <li>**bold text**</li>
            <li>*italic text*</li>
            <li>***bold and italic text***</li>
        </ul>
        <li><h3>Lists</h3></li>
        <ul>
            <li>
                Unordered List
                <ul>
                    <li>- Item 1</li>
                    <li>- Item 2</li>
                    <ul>
                        <li>- Subitem 2.1</li>
                        <li>- Subitem 2.2</li>
                    </ul>
                    
                </ul>
            </li>
            <li>
                Ordered List
                <ol>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <ol>
                        <li>Subitem 2.1</li>
                        <li>Subitem 2.2</li>
                    </ol>
                    
                </ol>
            </li>

        </ul>
        <li><h3>Links</h3></li>
        <ul>
            <li>[Link Text](http://example.com)</li>
        </ul>
        <li><h3>Images</h3></li>
        <ul>
            <li>![Alt Text](http://example.com/image.jpg)</li>
        </ul>
        <li><h3>Blockquotes</h3></li>
        <ul>
            <li>> This is a blockquote.</li>
        </ul>
        <li><h3>Code</h3></li>
        <ul>
            <li>`Inline code`</li>
            <li>```Code Block```</li>
        </ul>
        <li><h3>Horizontal Rule</h3></li>
        <ul>
            <li>---</li>
        </ul>
        <li><h3>Tables</h3></li>
        <ul>
            <pre><li>| Header 1 | Header 2 |</li></pre>
            <pre><li>|----------|----------|</li></pre>
            <pre><li>|   Row 1  |  Data 1  |</li></pre>
            <pre><li>|   Row 2  |  Data 2  |</li></pre>
        </ul>
    </ol>
</body>
</html>